.firstBackground{
    background-image:url("./img/first.svg");
    background-repeat: no-repeat;
    background-size: cover;
}



.botonGeneradorChiste{
    width: 8rem;
    height: 4rem;
    background: orange;
}

.botonScore{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
 border: none;
 background: orange;
}